* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
}

nav > ul {
    list-style-type: none;
    display: flex;
    gap: 0.7rem;
}

.hero {
    height: 100vh;
    background-color: #1f2937;
    color: #e5e7eb;
    /* padding: 0rem 8rem 4rem 8rem; */ /* This is to position content in the center, but it results in a spillover when the page is sized down*/
    margin: 0rem auto;
    padding: 0rem 4rem;
}

.header {
    display: flex;
    margin: 0.56rem 0.56rem auto 0.56rem ;
    padding: 0.8rem;
    justify-content: space-between;
}

.logo {
    font-size: 1.33rem;
    font-weight: 800;
    color: #f9faf8;
}

.hero-title {
    font-size: 2.67rem;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 0.3rem;
}

.hero-main {
    display: flex;
    margin-top: 2.7rem;
    gap: 1.1rem;
}

.hero-image > img {
    height: 17.5rem;
}

.hero-image {
    flex-grow: 1 1 auto;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 0.3rem 1.2rem;
    border: none;
    border-radius: 0.3rem;
    font-weight: 800;
}

.hero-main-text > button {
    margin-top: 0.3rem;
}

.section-2 {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.section-2 > h2 {
    font-size: 2rem;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
    margin-bottom: 1.5rem;
}

.figures {
    display: flex;
    align-self: center;
    gap: 1.1rem;
}

.illustration {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.illustration > img {
    height: 140px;
    align-self: center;
}

.section-3 {
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: #e5e7eb;
    color: #1f2937;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
    padding: 0rem 10rem;
}

.section-3 > .quote {
    font-size: inherit;
    font-weight: lighter;
    font-style: italic;
}

.section-3 > .source {
    font-weight: bold;
    align-self: flex-end;
}

.section-4 {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-4 > .subsection {
    display: flex;
    background-color: #3882f6;
    color: white;
    border-radius: 0.5rem;
    padding: 4rem 6rem;
    justify-content: space-between;
    gap: 5rem;
}

.call-to-action-button {
    border: 2px solid white;
    border-radius: 0.5rem;
    text-align: center;
    align-self: center;
} 

.call-to-action > h3 {
    font-size: 1.33rem;
    margin-bottom: 0.8rem;
}


